/* Main Declarations */

main{
    margin: 5rem 0rem;
}
main nav{
    width:100%;
}
main nav ul{
    display:flex;
    height:3rem;
    margin:0;
    padding:0;
}
main nav ul li{
    display:flex;
    width:100%;
    height:100%;
    cursor:pointer;
    background-color: #f3f3f3;
    border-right: .5px solid #6e9bc5;
    justify-content: center;
    align-items: center;
}
main nav ul li:last-child{
    border-right: none;
}
main nav ul li:hover{
    color:#FFF;
    transition: background-color 0.5s ease,
                color 0.5s ease;
    -webkit-transition: background-color 0.5s ease,
                        color 0.5s ease;
    background-color: #FF0000;    
}
main #artikelAnzeige{
    width:100%;
    padding-top:1rem;
}
main #artikelAnzeige a{
    cursor: pointer;
    color: white;
}
main .artikel{
    width: 44%;
    float:left;
    background-color:#6e9bc5;
    color:#ffffff;
    padding: 0 1rem 7rem 1rem;
    margin:1rem;
    position:relative;
}


main #artikel1{
    cursor: pointer;
}
main .artikel img, main .artikel ul{
    float:left;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
main .artikel img{
    width:33.33%;
    height:auto;
}

main .artikel ul li{
    margin: .5rem;
}
main .artikel input{
    width:3em;
}
.beschreibung.hidden{
    display:none;
}
main .artikel button{
    background-color: #9fb3c5;
    padding:1rem;
    border-style: none;
    box-shadow:none;
    color:#ffffff;
    cursor:pointer;
    float: right;
}
.inWarenkorb{
    position:absolute;
    bottom:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .artikel button:hover{
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    background-color:#6e9bc5;
}

/* Warengruppen ausblenden */
.group_hidden{
    display:none;
}

/* Media Queries */
@media (max-width: 800px){
    body{
        font-size: 15px; 
    }
    main .artikel{
        width:85%;
    }
}
@media (max-width: 550px){
    body{
        font-size: 14px; 
    }
    main .artikel img, 
    main .artikel ul{
        width:100%;
    }
}