/* Main Declarations */

main{
    margin: 5rem 0rem;
}

/* Navigation */
main nav{
    width:100%;
    z-index:998;
    position:fixed;
}
main nav img{
    display:none;
}
main nav ul{
    display:flex;
    height:3rem;
    margin:0;
    padding:0;
}
main nav ul li{
    display:flex;
    width:100%;
    cursor:pointer;
    background-color: #f3f3f3;
    border-right: .5px solid #6e9bc5;
    justify-content: center;
    align-items: center;
}
main nav ul li:last-child{
    border-right: none;
}
main nav ul li:hover{
    color:#FFF;
    transition: background-color 0.5s ease,
                color 0.5s ease;
    -webkit-transition: background-color 0.5s ease,
                        color 0.5s ease;
    background-color: #888;    
}
@media (max-width: 1080px){
    main nav{
        top:0;
        background-color: palevioletred;
    }
    main nav img{
        display:block;
    }
    main nav ul{
        flex-direction: column;
        display:none;
    }
    main nav.shown ul{
        display:block;
    }
    main nav ul li{
        padding:1.5rem;
        justify-content: flex-start;
        z-index: 1;
        border-bottom:1px solid grey;
    }
    main nav ul li:last-child{
        border-bottom:none;
    }
}

/* Artikelanzeige */
main #artikelAnzeige{
    width:100%;
    padding-top:3rem;
}
main #artikelAnzeige a{
    cursor: pointer;
    color: white;
}

/* Artikel-Detail */
main .artikel{
    width: calc(50% - 4rem);
    float:left;
    background-color:#6e9bc5;
    color:#ffffff;
    padding: 0 1rem 7rem 1rem;
    margin:1rem;
    position:relative;
    border-radius: 15px;
}
main .artikel img, main .artikel ul{
    float:left;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
main .artikel img{
    width:33.33%;
    height:auto;
}

main .artikel ul li{
    margin: .5rem;
}
main .artikel input{
    width:3em;
}
.artikel.hidden .beschreibung {
    display:none;
}
main .artikel button{
    background-color: #9fb3c5;
    padding:1rem;
    border-style: none;
    box-shadow:none;
    color:#ffffff;
    cursor:pointer;
    float: right;
    border-radius: 0 0 15px 0;
}
.inWarenkorb{
    position:absolute;
    bottom:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .artikel button:hover{
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    background-color:#6e9bc5;
}

/* Warengruppen ausblenden */
.group_hidden{
    display:none;
}

/* main Media Queries */
@media (max-width: 800px){
    body{
        font-size: 15px; 
    }
    main .artikel{
        width: calc(100% - 4rem);
    }
}
@media (max-width: 550px){
    body{
        font-size: 14px; 
    }
    main .artikel img, 
    main .artikel ul{
        width:100%;
    }
}
@media(max-width: 700px){
    main{margin:0;}
}