/* General Declarations */

body{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    position:relative;
    overflow-x: hidden;
    min-height:100%;
}
a{
    text-decoration: none;
    color: #000000;
}
ul li{
    list-style-type: none;
}

/* Header Declarations */

header{
    background-color:#dfdfdf;
    height:5rem;
    width:100%;
    position:fixed;
    top:0;left:0;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    z-index:9999;
    
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.64);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.64);
}
header section{
    float:left;
}
header #signIn{
    cursor:pointer;
    position:relative;
}
header #signIn #eingaben{
    display:none;
    position:absolute;
    top:2;left:0;
    width: 15rem;
    background-color: #FFF;
    padding: 1rem;
}
header #signIn #eingaben a{
    width: 15rem;
    background-color: #FFF;
    float:left;
    padding-top: 1rem;
    text-decoration: underline;
}
header #signIn #eingaben input{
    padding:1rem;
}
header #signIn:hover #eingaben{
    display:block;
}

/* Footer Declarations */

footer{
    background-color:#dfdfdf;
    display:flex;
    width:100%;
}
footer section{
    float:left;
    margin: 0 auto;
    display:flex;
    align-self: center;
}


/* Media Queries */

@media (max-width: 700px){
    header{
        flex-direction:column;
        height:15rem;
    }
    main{
        margin:15rem 0 !important;
    }
}